@import "tailwindcss";



.btn-3d {
    @apply  w-40 h-10  rounded-lg cursor-pointer select-none
    active:translate-y-2  active:[box-shadow:0_0px_0_0_#1b6ff8,0_0px_0_0_#1b70f841]
    active:border-b-[0px]
    transition-all duration-150 [box-shadow:0_10px_0_0_#1b6ff8,0_15px_0_0_#1b70f841]
    border-b-[1px] 
}


.btn-3d-fit {
    @apply rounded-2xl cursor-pointer select-none transition-all duration-150;
    
    box-shadow: 0 0.25em 0.25em 0 #1b6ff8, 0 0.4em 0 0 #1b70f841;
    border-bottom-width: 4px;
    border-right-width: 4px;

    &:active {
        transform: translateY(0.2em);
        box-shadow: 0 0px 0 0 #1b6ff8, 0 0px 0 0 #1b70f841;
        border-bottom-width: 0;
        border-right-width: 0;
    }
}

.brd-3d-4 {
    @apply border-b-4 border-r-4 border-2;
}

.brd-3d-8 {
    @apply border-b-8 border-r-8 border-4;
}
